header {
    height: 200px;
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
}

h1 {
    margin-bottom: 0;
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
}

#scritto {
    color: darkgray;
    margin-top: 0;
    margin-bottom: 0;
}

#data {
    color: darkgray;
    margin-top: 0;
}

table {
    border-collapse: collapse;
}

tr {
    width: 35%;
}

.row {
    background-color: dodgerblue;
    color: white;
}

.otherow {
    background-color: lightskyblue;
}